{% extends 'hrm/base.html' %} {% load crispy_forms_tags %} {% block body %}

<div class="container">
  <div class="row">
    <div class="col-12 my-2">
      <div
        class="row p-2 mx-1"
        style="background-color: white; border-radius: 20px"
      >
        <div class="col-2">
          <img
            class="rounded-square"
            src="{{ result.image.url }}"
            style="
              width: 100%;
              border-radius: 20px;
              border: 5px inset lightgray;
              padding: 5px;
            "
          />
        </div>
        <div class="col-5">
          <table class="table">
            <tbody>
              <tr>
                <th scope="col">Userame</th>
                <td>{{ result.user.username }}</td>
              </tr>
              <tr>
                <th scope="col">Email</th>
                <td>{{ result.user.email }}</td>
              </tr>
              <tr>
                <th scope="col">Date of Joined</th>
                <td>{{ joining_date }}</td>
              </tr>
            </tbody>
          </table>
          <!--<p><b>Username : </b>{{ result.user.username }}</p>
                <p><b>Email : </b>{{ result.user.email }}</p>
                <p><b>Date of Joined : </b>{{ result.user.date_joined }}</p>-->
        </div>
        <div class="col-5">
          <table class="table">
            <tbody>
              <tr>
                <th scope="col">Leaves Left</th>
                <td>{{ leave_left }}</td>
              </tr>
              <tr>
                <th scope="col">Leaves Taken</th>
                <td>{{ leave_taken }}</td>
              </tr>
              <tr>
                <th scope="col">Total Leaves</th>
                <td>{{ leave_limit }}</td>
              </tr>
            </tbody>
          </table>
          <!--<p><b>Leaves Left : </b>{{ leave_left }}</p>
                <p><b>Leaves Taken : </b>{{ leave_taken }}</p>
                <p><b>Total Leaves : </b>{{ leave_limit }}</p>-->
        </div>
      </div>
      <!--<div class="content-section" style="background-color: white; border-radius:20px;">
            <div class="media p-2">
                <img class="rounded-square" src="{{ result.image.url }}" style="width: 15%; border-radius:20px; border: 5px inset lightgray ;padding: 5px;">
                <div class="media-body ml-4 mt-4">
                    <p><b>Username : </b>{{ result.user.username }}</p>
                    <p><b>Email : </b>{{ result.user.email }}</p>
                    <p><b>Date of Joined : </b>{{ result.user.date_joined }}</p>
                </div>
                <div class="media-body ml-4 mt-4" style="border-left: 5px solid #318db2;padding-left:12%;">
                    <p><b>Leaves Left : </b>{{ leave_left }}</p>
                    <p><b>Leaves Taken : </b>{{ leave_taken }}</p>
                    <p><b>Total Leaves : </b>{{ leave_limit }}</p>
                </div>
            </div>
        </div>-->
      <div class="card mt-2">
        <div class="card-header obl">
          <h6>Employee Profile Details</h6>
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <tbody>
              <tr>
                <th scope="col">Employee Name</th>
                <td>{{ result.name }}</td>
              </tr>
              <tr>
                <th scope="col">Designation</th>
                <td>{{ result.designation }}</td>
              </tr>
              <tr>
                <th scope="col">Department</th>
                <td>{{ result.department }}</td>
              </tr>
              <tr>
                <th scope="col">Manager</th>
                <td>{{ result.manager.name }}</td>
              </tr>
              <tr>
                <th scope="col">Date of Birth</th>
                <td>{{ dob }}</td>
              </tr>
              <tr>
                <th scope="col">Address</th>
                <td>
                  {{ result.address }}, {{ result.city }}, {{ result.state }}
                </td>
              </tr>
              <tr>
                <th scope="col">Bank Name</th>
                <td>{{ result.bank_name }}</td>
              </tr>
              <tr>
                <th scope="col">Bank Account No.</th>
                <td>{{ result.bank_account_no }}</td>
              </tr>
              <tr>
                <th scope="col">IFSC code</th>
                <td>{{ result.ifsc_code }}</td>
              </tr>
              <tr>
                <th scope="col">Leaves Taken</th>
                <td>{{ leave_taken }}</td>
              </tr>
              <tr>
                <th scope="col">Leaves Left</th>
                <td>{{ leave_left }}</td>
              </tr>
              <tr>
                <th scope="col">Total Leaves</th>
                <td>{{ leave_limit }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
