{% extends 'hrm/base.html' %}
{% block body %}
{% load crispy_forms_tags %}


<div class="container mt-4">
    <div class="row">
        <div class="col-8">
            <!--<div class="card">
                <div class="card-header"  style="background-color: #318db2; color:antiquewhite">
                    <h4> Welcome to Triodec </h4>
                </div>
                <div class="card-body">-->

                    {% if user.is_authenticated %}
                    <!--<div class="content-section">
                        <div class="media">
                            <img class="rounded-circle" src="{{ user.employees.image.url }}" style="width: 20%;">
                            <div class="media-body ml-4">
                                <h4>{{ user.username }}</h4>
                                <p>{{ user.email }}</p>
                            </div>
                        </div>-->
                        <div class="card card-h" style="background-color: #edf8fd;">
                            <div class="card-header obl">
                                <h5>Your Working Status</h5>
                            </div>
                            <div class="card-body">
                                <table class="table table-striped">
                                    <thead>
                                      <tr>
                                        <th scope="col">Project</th>
                                        <th scope="col">Task</th>
                                        <th scope="col">Start Date</th>
                                        <th scope="col">Status</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        {% for task in tasks %}
                                      <tr>
                                        <th scope="row">{{ task.project_id }}</th>
                                        <td>{{ task.task_title }}</td>
                                        <td>{{ task.start_date }}</td>
                                        {% if task.status == 'C' %}
                                        <td style="color: green;"><b>Completed</b></td>
                                        {% elif task.status == 'N' %}
                                        <td style="color: red;"><b>Not Assigned</b></td>
                                        {% else %}
                                        <td style="color: blueviolet;"><b>Assigned</b></td>
                                        {% endif %}
                                      </tr>
                                      {% endfor %}
                                    </tbody>
                                  </table>
                            </div>
                        </div>
                        <div class="card card-h mt-2" style="background-color: #edf8fd;">
                            <div class="card-header obl">
                                <h5>Leave Status</h5>
                            </div>
                            <div class="card-body">
                                <table class="table table-striped">
                                    <thead>
                                      <tr>
                                        <th scope="col">Date</th>
                                        <th scope="col">Leave Type</th>
                                        <th scope="col">Leave Reason</th>
                                        <th scope="col">Status</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        {% for leave in leaves %}
                                      <tr>
                                        <th scope="row">{{ leave.leave_days }}</th>
                                        {% if  leave.leave_type == 'P' %}
                                        <td><b>Paid</b></td>
                                        {% else %}
                                        <td><b>Unpaid</b></td>
                                        {% endif %}
                                        <td>{{ leave.leave_reason }}</td>
                                        {% if  leave.status == 'A' %}
                                        <td style="color: green;"><b>Approved</b></td>
                                        {% elif leave.status == 'R' %}
                                        <td style="color: red;"><b>Rejected</b></td>
                                        {% else %}
                                        <td style="color: blueviolet;"><b>Pending</b></td>
                                        {% endif %}
                                      </tr>
                                      {% endfor %}
                                    </tbody>
                                  </table>
                            </div>
                        </div>
                    <!--</div>-->
                        <div class="container p-0">
                            <div class="row">
                                <div class="col-6">
                                    
                                    <div class="card mt-3 card-h" style="background-color: #edf8fd">
                                        <div class="card-header p-2 obl">
                                            <h5>Email to your Friend</h5>
                                        </div>
                                        <div class="card-body">
                                            <form method="POST" action="{% url 'send_mail' %}">
                                                {% csrf_token %}
                                                {{ e_form|crispy }}
                                                <button class="btn btn-outline-success" type="submit" style="width: 100%;">Send Mail</button>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-6">

                                    <div class="card mt-3 card-h" style="background-color: #edf8fd">
                                        <div class="card-header p-2 obl">
                                            <h5>Daily Work Status</h5>
                                        </div>
                                        <div class="card-body">
                                            <form method="POST" action="#">
                                                {% csrf_token %}

                                                {{ w_form|crispy }}
                                                <button class="btn btn-outline-success" type="submit" style="width: 100%;">Submit</button>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="card mt-3 card-h" style="background-color: #edf8fd">
                            <div class="card-header p-2 obl">
                                <h5>Take Leaves</h5>
                            </div>
                            <div class="card-body">
                                <form method="POST" action="#">
                                    {% csrf_token %}
                                    {{ l_form|crispy }}
                                    <button class="btn btn-outline-success" type="submit" style="width: 100%;">Submit</button>
                                </form>
                            </div>
                        </div>
                    {% else %}
                    <h5 style="color: red;">Please!</h5> Login to send Email
                    {% endif %}
                    
               <!-- </div>
            </div>-->
        </div>
        <div class="col-4">
            {% if user.is_authenticated %}
            <div class="card card-h" style="background-color: #edf8fd">
                <div class="card-header text-center p-2 obl">
                    <h5>!!! Update Profile !!!</h5>
                </div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ u_form|crispy }}
                        <button class="btn btn-outline-success" type="submit" style="width: 100%;">Update</button>
                    </form>
                </div>
            </div>

            {% else %}
            <div class="card" style="background-color: #edf8fd">
                <div class="card-header obl">
                    <h4> Register Here </h4>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-outline-success" type="submit" style="width: 100%;">SignUp</button>
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}